<!DOCTYPE html>
<html
  lang="en"
  class="light"
  th:fragment="parent(content,title,script)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th-replace="${title}">SCM</title>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
     <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    integrity="sha512-1ycn6IcaQQ40/MKB4Imkb9z6CvY7Er4k1P1D1FZLr2O6KEoLZ9Qe5T2j/n1mR3OJr5RW5r8kxL8HJ4H0tScvVA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

    <link rel="stylesheet" th-href="@{'/css/output.css'}" />
    <link rel="stylesheet" th-href="@{'/css/style.css'}" />
  </head>
  <body class="dark:bg-gray-900 dark:text-white bg-gray-100">
    <!--  user is logged in : navbar -->
    <div th:if="${loggedInUser}">
      <div data-th-replace="~{user/user_navbar::user-navbar}"></div>
    </div>

    <div th:unless="${loggedInUser}">
      <div data-th-replace="~{navbar :: navbar}"></div>
    </div>

    <!-- Main content -->

    <div class="p-4">
      <section data-th-replace="${content}"></section>
    </div>
    <!-- common footer -->
    <!-- <footer class="p-4">Footer : Learn Code With Me</footer> -->
    <!-- flowbite content -->
         <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script data-th-src="@{'/js/script.js'}"></script>
    <th:block data-th-replace="${script}"></th:block>
  </body>
</html>
