<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script} )}">

<head> 
  <title>Contact Page</title>
</head>
<body class="bg-black">
  <div id="content">
    <h1>Welcome to contact page</h1>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid nesciunt perspiciatis quod asperiores, repellendus ratione maiores quae dolor tempore accusantium, dolorem ea eveniet iure ad a incidunt explicabo magni! Odio molestiae voluptas reiciendis ipsum quae voluptatum eligendi animi praesentium quisquam?</p>
  </div>
  <script>console.log("contact page");</script>
</body>
</html>